nav {
    /* border-bottom: #EBEBEB 1px solid; */
    background-color: #121212;
    color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1 {
    font-size: 20pt;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 1em;
}

nav ul li a {
    font-weight: bold;
    padding-bottom: 0.3em;
}

ul li a:hover {
    border-bottom: 2px #0066E3 solid;
}

.brand {
    color: #0066E3;
}